//- Донар: https://www.webcomponents.org/element/mgibas/paper-rating
link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)

dom-module#cat-rating
    template
        
        style(include='shared-styles')
            include cat-rating.css
            
        template(is='dom-repeat', items='[[_stars]]')
            i.material-icons(active$='[[item]]') grade

    script(src='cat-rating.js') 
