link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-if.html`)
link(rel='import', href='../cat-rating/cat-rating.html')
link(rel='import', href='../../wrappers/mdc-card/mdc-card.html')
//- link(rel='import', href='../../wrappers/mdc-fab/mdc-fab.html')
link(rel='import', href='../../wrappers/swiper/swiper.html')

dom-module#cat-poi-details
    template
        style(include='shared-styles mdc-card-styles swiper-styles')
            include cat-poi-details.css 


        .card-container
            a.cat-close-button(href='#', on-click='_closeClicked')
                    i.material-icons trending_flat
            .mdc-card
                section.mdc-card__media
                    //- image swiper
                    div#photoSwiper.swiper-container.gallery-top
                        div.swiper-wrapper
                        div#swiperPagination.swiper-pagination
                        div#swiperButtonNext.swiper-button-next 
                            i.material-icons.small navigate_next
                        div#swiperButtonPrev.swiper-button-prev
                            i.material-icons.small navigate_before
                    //- Кнопочка добавления события в текущий перечень.
                    button.cat-add-button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect(on-click='_addClicked')
                        i.material-icons add

                    section.cat-poi-title.mdc-card__primary
                        h1.mdc-card__title.mdc-card__title--large [[data.name]]
                    //- h2.mdc-card__subtitle Дополнительная инфа
                section.cat-brief-info.mdc-card__supporting-text

                    //- сначала рейтинг.
                    .row.valign-wrapper
                        .col.s1.valign [[data.rating]]
                        .col.s6.valign
                            cat-rating(rating='[[data.rating]]', max='5', disabled)
                        .col.s5.valign отзывов: [[data.reviews.length]]
                    //- И строчку с просмотром отзывов
                    //- .row
                    //-     .col.s12 
                    //-         div.tooltipped(tooltip-data='asdasd', data-html='true') asd

                    //- А теперь прочая инфа о месте
                    .divider
                    .section
                    template(is='dom-if', if='[[data.website]]')
                        .row.valign-wrapper
                            .col.s2.valign
                                i.material-icons public
                            .col.s6.valign.truncate
                                a(target='_blank', href='[[data.website]]', title='[[_stripUrl(data.website)]]') [[_stripUrl(data.website)]]
                            .col.s4.right-align
                                a(target='_blank', href='[[data.url]]', title='Перейти к просмотру на картах Google')
                                    img(src='https://www.google.com/images/branding/product/1x/maps_16dp.png')
                    template(is='dom-if', if='[[data.formatted_address]]')
                        .row.valign-wrapper
                            .col.s2 
                                i.material-icons place
                            .col.s10 [[data.formatted_address]]
                    template(is='dom-if', if='[[data.international_phone_number]]')
                        .row.valign-wrapper
                            .col.s2 
                                i.material-icons local_phone
                            .col.s10 [[data.international_phone_number]]
            

    script(src='cat-poi-details.js')
