@import 'cat-color-theme';

section.mdc-card__media {
  position: relative;
  color: white;

    button.cat-add-button {
      position: absolute;
      bottom:-12;
      right:24;
      background-color: red;
      z-index: 2;
    }

    section.cat-poi-title {
      position: absolute;
      z-index: 1;
      color:inherit;
      background: rgba(0,0,0,0.5);
      bottom: 16px;
      right: 16px;
      left:16px;

      h1 { 
        color: inherit; 
      }
    }


}

section.cat-brief-info i.material-icons {
  color: $cat-primary-color;
}

.card-container {
  position: relative;
  overflow: auto;
  height:100%;

 & .cat-close-button {
      position: absolute;
      top:0;
      right:0;
      z-index: 2;
    }
}

.card-container .mdc-card {
  background: white;
  width: 100%;
}
.mdc-card__media {
  height:400px;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color:lightgrey;
}


  // Перемещает навигатор по картинкам наверх
      div#swiperPagination {
        top:10px;
      }
      /*swiper styles*/
      #photoSwiper {
          height: 400px;
      }

      .swiper-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
