html
    head
        meta(charset='UTF-8')
        title CAT-TEST
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        
        script(src='../bower_components/web-component-tester/browser.js')
  
  
    body
        script.
            WCT.loadSuites([
                //- visible components
                'elements/cat-rating/cat-rating-test.html',
                'elements/cat-trip-controller/cat-trip-controller-test.html',
                
                //- С тестом карты пока не задалось.
                //- Не хочет генерировать события в режиме теста. Есть подозрение, что они внутри suite какие-то ненстоящие, другие.
                //- 'elements/cat-map/cat-map-test.html',

                //- code & wrappers
                'scripts/data/cat-data-test.html'
            ]);