@import "cat-color-theme";

.info {
    display: flex;
    justify-content: center;
    background: $cat-primary-color-light;
    font-size: 14px;
    & a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $cat-primary-text-color-light; 

        & span {
            margin-left:10px;
        }
    }
    
}

.mdc-textfield {
    width: 100%;
    & > input {
        width: 100%;
    }
}

.row .col {
    padding: 0;
}
