link(rel='import', href='../../wrappers/date-fns.html')
link(rel='import', href='../../wrappers/mdc-dialog/mdc-dialog.html')
link(rel='import', href='../../wrappers/mdc-textfield/mdc-textfield.html')
link(rel='import', href='../../wrappers/mdc-button/mdc-button.html')

<!-- Include Date Range Picker -->
link(rel='import', href='../../elements/cat-pikaday/cat-pikaday.html')


dom-module#cat-trip-param
    template
        style(include='shared-styles mdc-dialog-styles mdc-textfield-styles mdc-button-styles')
            include cat-trip-param.css

        div.info
            a.truncate(href='#', on-click='_editTapped')
                i.material-icons edit
                span [[tripInfoString]]

        //- a.btn.waves-effect.truncate(style='position:relative;',
        //-                             on-click='_editTapped') #[i.material-icons.left edit]Голландия
        //-     span.new.badge.person-count(style='color:white;position:absolute;top:0;right:0;') [[trip.adultsCount]]
        //- span.badge(style='position:absolute') 2+0
        //- a.btn.waves-effect(on-click='_editTapped') #[i.material-icons.left edit] button
        
        
        div: aside#modalDialog.mdc-dialog(role="alertdialog",
                                    aria-hidden="true",
                                    aria-labelledby="my-mdc-dialog-label"
                                    aria-describedby="my-mdc-dialog-description")
            div.mdc-dialog__surface
                header.mdc-dialog__header
                    h2#my-mdc-dialog-label.mdc-dialog__header__title.mdc-typography__title.
                        Параметры путешествия
                
                section#my-mdc-dialog-description.mdc-dialog__body
                    div 
                        label(for='tripName') Название путешествия
                        .mdc-textfield
                            input#tripName.mdc-textfield__input(type='text', required, value='[[trip.name]]')
                        label(for='tripName') Описание
                        .mdc-textfield
                            input#tripDescription.mdc-textfield__input(type='text', required, value='[[trip.description]]')
                    
                    //- paper-input#tripName(label='Название путешествия', value='[[trip.name]]')
                    div 
                        label(for='startPoint') Город отправления (прибытия)
                        .mdc-textfield
                            input#startPoint.mdc-textfield__input(type='text', required, value='[[trip.startPoint.displayName]]')

                    div: cat-pikaday#pikaday(start-date='[[trip.startDate]]', end-date='[[trip.endDate]]')

                    //- Количество взрослых и детей в одну строчку
                    .row
                        .col.s6
                            div 
                                label(for='ac') Количество взрослых
                                .mdc-textfield
                                    input#ac.mdc-textfield__input(type='number', required, value='[[trip.adultsCount]]')

                        .col.s6
                            label(for='cc') Количество детей
                                .mdc-textfield
                                    input#cc.mdc-textfield__input(type='number', required, value='[[trip.childrenCount]]')
                    
                footer.mdc-dialog__footer
                    button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel(type="button", on-click='_cancelTapped') Отмена
                    button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept(type="button", on-click='_okTapped') OK
            div.mdc-dialog__backdrop
        
            

        //- paper-dialog#modalDialog(on-iron-overlay-opened='_patchOverlay',modal)
        //-     h2 Исходные параметры путешествия 
        //-     div
        //-         paper-input#tripName(label='Название путешествия', value='[[trip.name]]')
        //-         paper-input#startPoint(label='Город отправления (прибытия)', value='[[trip.startPoint.displayName]]')
        //-         cat-pikaday#pikaday(start-date='[[trip.startDate]]', end-date='[[trip.endDate]]')
        //-         paper-input#ac(label='Количество взрослых',
        //-                        value='[[trip.adultsCount]]'
        //-                        auto-valudate, allowed-pattern='[0-9]')
        //-         paper-input#cc(label='Количество детей',
        //-                        value='[[trip.childrenCount]]'
        //-                        auto-valudate, allowed-pattern='[0-9]')
        //-     .buttons
        //-         paper-button(dialog-dismiss) Отменить
        //-         paper-button(dialog-confirm, autofocus, on-tap='_saveTapped') Сохранить
            
    script(src='cat-trip-param.js')