html
    head 
       include ../../_demo_header.pug

       link(rel='import', href='../cat-map.html')
   
    body
        
        h1 Test

        div
            cat-map#el(google-map-api-key='AIzaSyAVP1B1G-ot9W-xu8-nHz9U5yF0AmCb9mQ',
                    min-local-zoom='6')
        
        script.
            let el = document.getElementById('el');
            el.addEventListener('cat-map-mode-changed', e => console.log(e.detail));

