@import "media";
@import "cat-color-theme";

// Растягиваем диалог на практически весь экран
div.mdc-dialog__surface {
    height: 100%;
    width: 100%;

    @media #{$medium-and-up} {
        height: 90%;
        width: initial;
    }
}

//  Растягиваем видимую часть контента на все окошко (по-умолчанию стоит max-height)
 .mdc-dialog__body--scrollable {
        max-height: initial;
    }

// Стили заголовка
.cat-dialog-header {
    margin: 0 20px;
}