link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href=`../../elements/cat-trip-overview/cat-trip-overview.html`)

link(rel='import', href=`../../wrappers/mdc-button/mdc-button.html`)
link(rel='import', href=`../../wrappers/mdc-dialog/mdc-dialog.html`)

dom-module#cat-trip-overview-dialog
    template
        
        style(include='shared-styles mdc-dialog-styles mdc-button-styles')
            include cat-trip-overview-dialog.css
            
        aside#dlgTripOverview.mdc-dialog
            div.mdc-dialog__surface
                div.cat-dialog-header
                    h1.mdc-typography--title [[trip.name]]
                    .row.mdc-typography--subheading2
                        .col.s6.center [[trip.startPoint.displayName]]
                        .col.s6.center [[trip.country.displayName]]
                    .mdc-typography--body1 [[_getMetaString(trip)]]
                    .mdc-typography--body1 [[trip.description]]
                    
                section.mdc-dialog__body.mdc-dialog__body--scrollable
                    cat-trip-overview(trip='[[trip]]')
                footer.mdc-dialog__footer
                    button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--accept(on-click='_closeDialog') ОК
            .mdc-dialog__backdrop

    script(src='cat-trip-overview-dialog.js') 
