$palette-cat: rgb(234, 225, 230) rgb(201, 180, 191) rgb(166, 130, 149)    rgb(130, 79, 107)    rgb(103, 42, 75)    rgb(76, 4, 43)    rgb(69, 3, 38)    rgb(60, 3, 32)    rgb(51, 2, 26)    rgb(36, 1, 16)    rgb(255, 95, 146)    rgb(255, 44, 111)    rgb(248, 0, 79)    rgb(223, 0, 71);

$palette-cat-50: nth($palette-cat, 1);
$palette-cat-100: nth($palette-cat, 2);
$palette-cat-200: nth($palette-cat, 3);
$palette-cat-300: nth($palette-cat, 4);
$palette-cat-400: nth($palette-cat, 5);
$palette-cat-500: nth($palette-cat, 6);
$palette-cat-600: nth($palette-cat, 7);
$palette-cat-700: nth($palette-cat, 8);
$palette-cat-800: nth($palette-cat, 9);
$palette-cat-900: nth($palette-cat, 10);
$palette-cat-A100: nth($palette-cat, 11);
$palette-cat-A200: nth($palette-cat, 12);
$palette-cat-A400: nth($palette-cat, 13);
$palette-cat-A700: nth($palette-cat, 14);


$cat-primary-color: $palette-cat-500;
$cat-primary-text-color: white;

$cat-primary-color-light: $palette-cat-300;
$cat-primary-text-color-light: white;

$cat-primary-color-dark: $palette-cat-800;

$cat-regular-text-color: #424242;

// Определения для MDC-компоенентов
$mdc-theme-primary: $cat-primary-color;
$mdc-theme-accent: #ffab40;
$mdc-theme-background: #fff;

