html
    head 
        include ../../_demo_header.pug

        link(rel='import', href='../cat-tag-input.html')
   
    body
        
        h1 Test

        cat-tag-input#el
        
        script.
            window.addEventListener('WebComponentsReady', function(e) {
                // imports are loaded and elements have been registered

                let tags = [
                    {value: 'val', type:'1', displayName: 'Беларуссия'},
                    {value: 'val', type:'2', displayName: 'тип места'},
                    {value: 'val', type:'3', displayName: 'ключевое слово'}
                ];
                
                document.getElementById('el').tags = tags;
            });

