html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes')

        title Clip Your Trip
        meta(name='description', content='Веб-приложение для конструирования индивидуального плана путешествия')

        //- See https://goo.gl/qRE0vM
        meta(name='theme-color' content='#4c042b')
        link(rel='shortcut icon',sizes='32x32' href='/images/cat-icon-32.png')
        
        //- See https://goo.gl/OOhYW5
        link(rel='manifest' href='/manifest.json')

        //- Add to homescreen for Chrome on Android. Fallback for manifest.json
        meta(name='mobile-web-app-capable' content='yes')
        meta(name='application-name' content='My App')

        //- Add to homescreen for Safari on iOS
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
        meta(name='apple-mobile-web-app-title', content='Clip Your Trip')

        //- Homescreen icons
        link(rel='apple-touch-icon', href='/images/cat-icon-48.png')
        link(rel='apple-touch-icon', sizes='72x72' href='/images/cat-icon-72.png')
        link(rel='apple-touch-icon', sizes='96x96' href='/images/cat-icon-96.png')
        link(rel='apple-touch-icon', sizes='144x144' href='/images/cat-icon-144.png')
        link(rel='apple-touch-icon', sizes='192x192' href='/images/cat-icon-192.png')

        //- Load and register pre-caching Service Worker
        script.
            if ('serviceWorker' in navigator && window.location.hostname != 'localhost') {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }

        //- Скрипт, который не только заружает полифил, но еще и удостоверяется в загрузке Polymer
        script(src='/bower_components/webcomponentsjs/webcomponents-loader.js')

        //- Этот шрифт необходимо подключить именно здесь, т.к. в dom-style оно не работает.
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')

        link(rel='import', href='/src/views/cat-app/cat-app.html', async)

        style.
            body {
                margin: 0;

                 /*https://css-tricks.com/websites-generate-svg-patterns/*/
                background-color: #fff;
                background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgd2lkdGg9JzMwMCcgaGVpZ2h0PSczMDAnPgoJPGRlZnM+CgkJPGZpbHRlciBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9J3NSR0InIGlkPSdmaWx0ZXIzMDAxJz4KCQkJPGZlVHVyYnVsZW5jZSB0eXBlPSdmcmFjdGFsTm9pc2UnIGJhc2VGcmVxdWVuY3k9JzEwMCAuODUnIG51bU9jdGF2ZXM9JzEnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IGhlaWdodD0nMjAwJScgd2lkdGg9JzIwMCUnIHN0eWxlPSdmaWx0ZXI6dXJsKCNmaWx0ZXIzMDAxKScgLz4KCTxyZWN0IGhlaWdodD0nMjAwJScgd2lkdGg9JzIwMCUnIHN0eWxlPSdmaWxsOiNmZmY7ZmlsbC1vcGFjaXR5OjAuNzU7Jy8+Cjwvc3ZnPg==);
            }   


    body
        cat-app
        script.
            if (window.location.hostname != 'localhost') {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-98148044-2', 'auto');
                
                //- https://github.com/googleanalytics/autotrack#installation-and-usage
                ga('require', 'eventTracker');
                ga('require', 'outboundLinkTracker');
                ga('require', 'urlChangeTracker');
                ga('send', 'pageview');
            }
        script(src='/node_modules/autotrack/autotrack.js', defer)
        noscript
            h1 javascript unavaliable
            p Sorry, we can't show to you anything without javascript. :`(
