link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)

link(rel='import', href='../../elements/cat-tag-input/cat-tag-input.html')
link(rel='import', href='../../elements/cat-suggestion-list/cat-suggestion-list.html')
link(rel='import', href='../../elements/cat-trip-view-list-item/cat-trip-view-list-item.html')


dom-module#cat-trip-list
    template
        style(include='shared-styles')
            include cat-trip-list.css
        
        h1 [[pageTitle]]

        cat-tag-input(tags='[[searchCriterias]]',
                    on-cat-tag-remove='_tagRemove',
                      search-string='{{searchString}}')

        cat-suggestion-list#suggestList(suggestions='[[suggestions]]',
                                        selected-suggestion='{{selectedSuggestion}}', hidden)
        .row
            template(is='dom-repeat', items='[[items]]')
                .cat-trip.col.s12.l6.xl4
                    cat-trip-view-list-item(data='[[item]]', btn-text='[[btnText]]')

    script(src='cat-trip-list.js')
