link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href=`../../scripts/base/index.html`)
link(rel='import', href=`../../scripts/utils/index.html`)

dom-module#cat-trip-controller
    template
    script(src='cat-trip-controller.js') 
