link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href='../../wrappers/mdc-checkbox/mdc-checkbox.html')
link(rel='import', href='../../wrappers/mdc-switch/mdc-switch.html')

dom-module#cat-map-control-toolbar
    template
        style(include='shared-styles mdc-checkbox-styles mdc-switch-styles')
            include cat-map-control-toolbar.css

        .toolbar
            //- button.mdl-button.mdl-js-button.mdkl-button--fab.mdl-button--colored
            //-     i.material-icons explore
            //- button.mdl-button.mdl-js-button.mdkl-button--fab.mdl-button--colored
            //-     i.material-icons room
            button.mdl-button.mdl-js-button.mdkl-button--fab.mdl-button--colored(on-click='_btnCreateTapped', title="Создать новое")
                i.material-icons fiber_new
            button.mdl-button.mdl-js-button.mdkl-button--fab.mdl-button--colored(on-click='_btnDoneALlTapped', title="Обозреть")
                i.material-icons done_all
            button.mdl-button.mdl-js-button.mdkl-button--fab.mdl-button--colored(on-click='_btnSaveTapped', title="Сохранить")
                i.material-icons save

            .spacer |
            .mdc-checkbox
                input#searchCheckbox.mdc-checkbox__native-control(type='checkbox', on-change='_searchModeChanged')
                .mdc-checkbox__background
                    svg.mdc-checkbox__checkmark(viewBox="0 0 24 24")
                        path.mdc-checkbox__chekmark__path(fill='none', stroke='white', d='M1.73,12.91 8.1,19.28 22.79,4.59')
                    .mdc-checkbox__mixedmark
            label(for='searchCheckbox') поиск
            
            //- .mdc-switch
            //-     input#basic-switch.mdc-switch__native-control(type='checkbox')
            //-     .mdc-switch__background
            //-         .mdc-switch__knob
            //- label.mdc-switch-label(for='basic-switch') сегодня/все
            
            //- .mdc-radio
            //-     input.mdc-radio__native-control#radio-1(type='radio', name='radios', checked)
            //-     .mdc-radio__background
            //-         .mdc-radio__outer-circle
            //-         .mdc-radio__inner-circle
            //- label#radio-1-label(for='radio-1') Radio 1

            //- .mdc-radio
            //-     input.mdc-radio__native-control#radio-2(type='radio', name='radios', checked)
            //-     .mdc-radio__background
            //-         .mdc-radio__outer-circle
            //-         .mdc-radio__inner-circle
            //- label#radio-2-label(for='radio-1') Radio 2

        //- paper-icon-button#btnGlobal(icon='cat:globe', toggles,
        //-                 active='{{_isGlobalPressed}}',
        //-                 alt='Включить режим выбора страны и отеля')
        //- paper-icon-button#btnLocal(icon='cat:room', toggles,
        //-                 active='{{!_isGlobalPressed}}',
        //-                 alt='Включить режим поиска POI')
        //- paper-icon-button#btnLocal(icon='cat:save', ,
        //-                 on-tap='_btnSaveTapped',
        //-                 alt='Сохранить')


    script(src='cat-map-control-toolbar.js')
