@import "cat-color-theme";

.toolbar {
    // background: $cat-primary-color;
    // color:white;
    color: $cat-primary-color;
    display: flex;
    align-items: center;

    & .spacer {
        margin: 0 30px;
    }
}