@import 'cat-color-theme';
:host {
    display: flex;
    flex-wrap: wrap;
}

.mdc-textfield {
    // Небольшой отступ от тэгов
    margin-left: 10px;

    // инпут должен заполнять все оставшееся свободное пространство
    flex-grow: 1;
    & > input {
        width: 100%;
    }
}


/*http://cssglobe.com/pure-css3-post-tags/*/
div.tag {
    margin-bottom: 5px;
    display: flex;
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;

    margin-left:20px;
    padding:0 0px 0 12px;
    background: $cat-primary-color;
    color: $cat-primary-text-color;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;	
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;	
    border-top-right-radius:4px;

    & button.mdl-button.mdl-button--icon {
        width: 24px;
        height:24px;
        min-width: initial;

        & i.material-icons {
            font-size: 16px;
        }
    }

    &:before {
        content:"";
        float:left;
        position:absolute;
        top:0;
        left:-12px;
        width:0;
        height:0;
        border-color:transparent $cat-primary-color transparent transparent;
        border-style:solid;
        border-width:12px 12px 12px 0;	
    }
}


div.tag:after {
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px $cat-primary-color;
    -webkit-box-shadow:-1px -1px 2px $cat-primary-color;
    box-shadow:-1px -1px 2px $cat-primary-color;
}

div.tag>paper-icon-button {
    color: black;
    position: absolute;
    top: -20px;
    right: -15px;
    width: 30px;
}
/* 0 - country 
1 - place type 
2 - place tag 
3 - keyword */
div.tag[data-type='0'] {
    font-size: 21px;
    font-weight: bold;
}
