link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)
link(rel='import', href='../../wrappers/mdc-textfield/mdc-textfield.html')
//- link(rel='import', href=`${bowerDir}paper-input/paper-input.html`)
//- link(rel='import', href=`${bowerDir}google-apis/google-maps-api.html`)

dom-module#cat-tag-input
    template
        style(include='shared-styles mdc-textfield-styles')
            include cat-tag-input.css


        template(is='dom-repeat', items='[[tags]]')
                    div.tag(data-type$='[[item.type]]')
                        span [[item.displayName]]
                        button.mdl-button.mdl-js-button.mdl-button--icon(on-click='_closeTapped')
                            i.material-icons cancel

        .mdc-textfield
                    input#catSearch.mdc-textfield__input(type='text', placeholder='Начните ввод тэгов или слов', on-input='_fieldChanged', on-keydown='_fieldKeydown')

        
        //- paper-input#input(label='Введите здесь уточняющие слова',
        //-                  on-keydown='_keyDown', 
        //-                  value='{{searchString}}')
            div(slot='prefix')
                template(is='dom-repeat', items='[[tags]]')
                    div.tag(data-type$='[[item.type]]')
                        span [[item.displayName]]
                        button.mdl-button.mdl-js-button.mdl-button--icon(on-tap='_closeTapped')
                            i.material-icons cancel

    script(src='cat-tag-input.js')
