html
    head 
        include ../../_demo_header.pug
        
        link(rel="import" href='../cat-poi-details.html')
   
    body
        
        #map

        cat-poi-details#el
        
        script.
            //window.addEventListener('WebComponentsReady', function(e) {
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 8
                        });
                    var service = new google.maps.places.PlacesService(map);
                    service.getDetails({placeId: 'ChIJMe5hOYTS20YR0mAmMXKzAHQ'}, (place, status)=>{
                        document.getElementById('el').data = place;
                    });
                }
                
                let el = document.getElementById('el');
           // });
            
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVP1B1G-ot9W-xu8-nHz9U5yF0AmCb9mQ&callback=initMap&libraries=places")

