link(rel='import', href=`${bowerDir}paper-listbox/paper-listbox.html`)

dom-module#cat-suggestion-list
    template
        style(include='shared-styles')
            include cat-suggestion-list.css

        paper-listbox#list(on-iron-select='_selected', selected='{{selectedIndex}}')
            template(is='dom-repeat', items='[[suggestions]]')
                div.suggestions
                    template(is='dom-if', if='[[_isCountry(item.type)]]')
                        i.material-icons globe
                        div [[item.displayName]]
                    template(is='dom-if', if='[[_isPlaceTag(item.type)]]')
                        i.material-icons tag
                        div [[item.displayName]]
                    template(is='dom-if', if='[[_isPlaceType(item.type)]]')
                        i.material-icons room
                        div [[item.displayName]]
                    template(is='dom-if', if='[[_isPoi(item.type)]]')
                        i.material-icons room
                        div [[item.displayName]]
        
        

    script(src='cat-suggestion-list.js')
