html
    head 
        meta(charset='UTF-8')
        
        //- meta(name='viewport', content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes')

        //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)
        link(rel='import' href='../../../shared-styles/shared-styles.html')

        link(rel='import', href='../../../scripts/base/index.html')
        link(rel="import" href='../cat-trip-view-list-item.html')
   
    body

        cat-trip-view-list-item#el
        
        script.
            let tc = new CatBase.TripController(null);
            document.getElementById('el').data = tc.getTrip();
             
            

