//- data providers
link(rel='import', href='../../scripts/base/index.html')
link(rel='import', href='../../scripts/search/index.html')

//- standart components
link(rel='import', href=`${bowerDir}app-route/app-route.html`)

//- cat-components
//- link(rel='import', href=`../../elements/cat-country-info/cat-country-info.html`)
link(rel='import', href='../../elements/cat-inday-stepper/cat-inday-stepper.html')
link(rel='import', href='../../elements/cat-poi-list/cat-poi-list.html')
link(rel='import', href='../../elements/cat-map-control-toolbar/cat-map-control-toolbar.html')
link(rel='import', href=`../../elements/cat-map/cat-map.html`)
link(rel='import', href='../../elements/cat-poi-details/cat-poi-details.html')
link(rel='import', href=`../../elements/cat-suggestion-list/cat-suggestion-list.html`)
link(rel='import', href=`../../elements/cat-tag-input/cat-tag-input.html`)
link(rel='import', href=`../../elements/cat-trip-param/cat-trip-param.html`)
link(rel='import', href=`../../elements/cat-snackbar/cat-snackbar.html`)

//- helpers
link(rel='import', href=`../../elements/cat-trip-controller/cat-trip-controller.html`)
link(rel='import', href=`../../elements/cat-search-controller/cat-search-controller.html`)

//- animation lib
link(rel='import', href=`../../wrappers/velocity.html`)


dom-module#cat-trip
    template
        style(include='shared-styles')
            include cat-trip.css


        //- note: в компонент передается остаток url после cat-trip.
        app-route(route='{{route}}',
                    pattern='/:page',
                    data='{{routeData}}',
                    tail='{{subroute}}')
        //------------------------------------------------------------
        //-----------SOURCES OF TRUTH --------------------------------
        //------------------------------------------------------------
        //- SOURCE OF TRUTH для объекта путешествия
        cat-trip-controller#tripController(trip='{{trip}}',
                                            trip-provider='[[tripProvider]]')
        //- SOURCE OF TRUTH для поисковых критериев
        cat-search-controller#searchController(search-criterias='{{searchCriterias}}')

        //------------------------------------------------------------
        //- Общие параметры путешествия (вызывает модальный диалог)
        cat-trip-param(trip='[[trip]]', on-cat-param='_newTripParams')

        //- Панель с отображением дней
        div.day-stepper
            cat-inday-stepper(trip='[[trip]]', selected='[[pageNum]]', base-href='/trip')
                    
        
        //- Это отображение POI сегодняшнего дня
        #poi-list: cat-poi-list(items='[[currentDayActivities]]', on-cat-poi-remove='_onPoiRemove',
                                                                  on-cat-poi-clicked='_onPoiClicked')

        //- //- Эта штука отображает элементы для взаимодействия с картой
        //- //- режим, кнопку сохранения. 
        cat-map-control-toolbar(on-cat-save='_cmdSaveTrip',
                                on-cat-create='_cmdCreateNewTrip',
                                on-cat-done='_cmdOverviewTrip',
                                on-cat-search-enabled='_cmdSearchStateChanged')


        cat-tag-input(tags='[[searchCriterias]]',
                    on-cat-tag-remove='_removeTag',
                    on-cat-field-changed='_searchFieldChanged',
                    on-cat-field-entered='_searchFieldEntered')

        cat-suggestion-list#suggestList(suggestions='[[suggestions]]',
                                        selected-suggestion='{{selectedSuggestion}}', hidden)

        //- MDC DIALOG TEST
        cat-trip-overview-dialog#tripOverviewDialog
        //- END OF MDC DIALOG TEST
        //- .target-container
        .mapContainer
            cat-map#catMap(
                    google-map-api-key='[[googleMapApiKey]]',
                    min-local-zoom='6',
                    country-alpha2='[[trip.country.value]]', 
                    on-cat-map-mode-changed='_mapModeChanged',
                    on-cat-map-bounds-changed='_mapBoundsChanged',

                    markers='[[markers]]',
                    google-map='{{googleMap}}')
            
            #poiDetailsContainer: cat-poi-details#poiDetails(position='RIGHT_TOP', on-cat-poi-add='_addPoi', on-cat-poi-close='_hidePoiDetails')
        //- Всплывающие сообщения
        cat-snackbar#snackbar

    script(src='cat-trip.js')
