@import "media";
@import "cat-color-theme";

// Добавляет скролликнг панели с отображением дней.
// Центрирует степпер если он помещается целиком в окошко.
.day-stepper{
    overflow-x:auto;
    background: $cat-primary-color;

    // http://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-another-div
    cat-inday-stepper {
        display:table;
        margin: 0 auto;
    }
}

// Элемент с картой должен заниматься максимально возможное пространство
// (родительский: flex, column)
#catMap {
    flex-grow: 1;
}

.mapContainer {
    position: relative;
    flex-grow: 1;
    display: flex;
}
// POI Detail отображается на маленьких устройствах во всю ширину экрана
#poiDetailsContainer {
    position: fixed;
    right:calc(-100%);
    width:100%;
    height:100%;
    top: 0;
    overflow: auto;
    z-index: 50000000;

// А на больших с фиксированной шириной.
  @media #{$medium-and-up} {
    position: absolute;
    
    width: 350px;
    right: -350px;
    
    
  }
}