html
    head 
        meta(charset='UTF-8')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)
        link(rel='import' href='../../../shared-styles/shared-styles.html')


        link(rel='import', href='../../../scripts/base/index.html')
        link(rel='import' href='../cat-map-control-toolbar.html')
   
    body
        

        cat-map-control-toolbar#el

        script(src=`../${bowerDir}webcomponentsjs/webcomponents-loader.js`)
        
        

