html
    head 
        meta(charset='UTF-8')
        //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)
        link(rel='import' href='../../../shared-styles/shared-styles.html')

        link(rel="import" href='../cat-search-input.html')
   
    body
        

        cat-search-input#el 
        
        script.
            let el = document.getElementById('el')
            
             
            

