//- Донар: https://www.webcomponents.org/element/mgibas/paper-rating
link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)

link(rel='import', href=`../cat-tag-input/cat-tag-input.html`)
link(rel='import', href=`../cat-suggestion-list/cat-suggestion-list.html`)

dom-module#cat-search-input
    template
        
        style(include='shared-styles')
            include cat-search-input.css
            
        cat-tag-input(tags='[[tags]]')
        cat-suggestion-list(suggestions='[[suggestions]]')

    script(src='cat-search-input.js')
