link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
script(src=`${bowerDir}js-marker-clusterer/src/markerclusterer_compiled.js`)

dom-module#cat-map
    template
        style(include='shared-styles')
            include cat-map.css
        #map
    script(src='cat-map.js')
