//- link(rel='import', href=`${bowerDir}paper-input/paper-input.html`)
link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href='../../wrappers/date-fns.html')
link(rel='import', href='../../wrappers/mdc-textfield/mdc-textfield.html')
//- link(rel='import', href=`${bowerDir}iron-icon/iron-icon.html`)

//- pikaday

    
dom-module#cat-pikaday
    template
        style(include='shared-styles mdc-textfield-styles')
            include cat-pikaday.css

        .cat-container
            .relative
                .mdc-textfield
                    input#startField.mdc-textfield__input(type='text', required, on-focus='_startFieldFocused')
                    label.mdc-textfield__label(for='startField') Отправление
                #startContainer

            .relative
                .mdc-textfield
                    input#endField.mdc-textfield__input(type='text', required, on-focus='_endFieldFocused')
                    label.mdc-textfield__label(for='endField') Прибытие
                #endContainer

                
            a(href='#', on-click='show'): i.material-icons event_note
            //- paper-icon-button(icon='cat:date-range', on-tap='show', data-badge='1')        
                
    script(src=`${bowerDir}pikaday/pikaday.js`)
    script(src='cat-pikaday.js')
