@import 'cat-color-theme';
@import '../../bower_components/pikaday/scss/pikaday';

div.cat-container{
    width:100%;
    display:flex;
    align-items: center;
    & > div {
        flex-grow: 1;
    }

    & > a {
        color: $cat-primary-color;
        position: relative;
        top: 12;
        &:hover {
            color: $cat-primary-color-light;
        }
    }
}

div.mdc-textfield  {
    // Делаем их на всю ширину div, тогда будет продолжающаяся поддерживающаяся линия. :-P
    width: 100%;
    & input {
        width: 100%;
    }
}

div.relative {
    position: relative;
}

// Пикеры в контейнерах и позиционируются ручками (хотя элемент умеет и сам), т.к.
// без контейнеров пикер инициализируется в document, а там нет стилей.
#startContainer, #endContainer {
    // Без явной установки фона часть элементов календаря прозрачные
    background: white;
    // Сдвигаем в самый верх, т.к. у mdc-textbox есть margin
    position: absolute;
    bottom: 0;
    z-index: 100;
}
// Следующие два определения нужны, т.к. на мобилах правыу пикер вылазит за пределы экрана
// из-за этого невозможно выбрать дату.
#startContainer {
    left: 0;
}

#endContainer {
    right: 0;
}


