html
    head 
        meta(charset='UTF-8')
        //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='/bower_components/webcomponentsjs/webcomponents-loader.js')

        link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)
        link(rel='import' href='../../../shared-styles/shared-styles.html')

        link(rel='import', href='../../../scripts/base/index.html')
        link(rel='import', href='../cat-inday-stepper.html')
   
    body
        
        h1 Test

        div
            cat-inday-stepper#el(base-href='#/trip', selected='5')
        
        script.
            window.addEventListener('WebComponentsReady', function(e) {
                // imports are loaded and elements have been registered
                let trip = new CatBase.Trip();
                trip.setTripDates(new Date(2012, 1, 1), new Date(2012, 1, 7));
                document.getElementById('el').trip = trip;
            });

