link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href='../../shared-styles/shared-styles.html')

dom-module#cat-feedback
    template
        style(include='shared-styles')
            include cat-feedback.css

        
        .cat-md-container
            h1 Свяжитесь с нами
            p.
                Мы с радостью ответим Вам на любые сообщения об ошибках, замечаниях и предложениях.
            p Просто напишите нам на #[a(href='mailto:feedback@clipyourtrip.ru') feedback@clipyourtrip.ru] и мы обязательно ответим!
            
            h3 Спасибо за сообщения!

    script(src='cat-feedback.js')
