@import 'cat-color-theme';
@import 'media';
$primary-color: $cat-primary-color;

// COPY_PASTE 4 materialize.css 
// 13. Navigation Bar
// ==========================================================================
$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 12px !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;

// COPY_PASTE 4 materialize.css 
// 2. Badges
// ==========================================================================
$badge-bg-color: rgba(100,100,100, 0.5) !default;
$badge-height: 22px !default;
$collection-line-height: 1.5rem !default;
$collapsible-height: 3rem !default;
$collapsible-line-height: $collapsible-height !default;

@import 'materialize/navbar';
@import 'materialize/badges';

// Убираем точки
nav ul {
  &:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;

    li {
        // Делаем все элементы одного размера, так что и помещаться вся инфа должна, и считать ширину легко.
        width: 100px;
        list-style-type: none;
        &:hover {
            background:  $cat-primary-color-light;
        }

        &.active {            
            background:  $cat-primary-color-light;
        }

    }
  }
}
// И подчеркивания 
a {
	//color: $link-color;
	text-decoration: none;

  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}


:host nav.inday-nav {
    display: inline-block;
    width:auto;
    // background-color: var(--default-primary-color);
}

/* Делаем красивенький, надеюсь, бэджик */
span.badge.new.poi-count, 
span.badge.new.date-index {
    background-color: rgba(100,100,100, 0.5);
}
span.badge.new.date-index {
min-width: 0;
background: none;
}
span.badge.new.date-index::after {
    content: "";
}
span.badge.new.date-index::before {
    content: "# ";
}
span.badge.new.poi-count::after {
    content: "poi"
}
