link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)

link(rel='import', href='../../wrappers/date-fns.html')

link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)
link(rel='import', href=`${bowerDir}iron-selector/iron-selector.html`)


//- del candi?
//- link(rel='import', href=`${bowerDir}iron-flex-layout/iron-flex-layout.html`)

//- link(rel='import', href=`${bowerDir}iron-selector/iron-selector.html`)
//- link(rel='import', href=`${bowerDir}paper-ripple/paper-ripple.html`)


//- https://pugjs.org/language/interpolation.html
- var itemLength = "[[item.length]]";
- var displayIndex = "[[_getDisplayIndex(index)]]";

dom-module#cat-inday-stepper
    template
        style(include='shared-styles')
            include cat-inday-stepper.css
        

        nav#indayNav
            .nav-wrappers
                ul.left
                    iron-selector(selected-class='active', selected='[[_getArrayIndex(selected)]]')
                        template(is='dom-repeat', items='[[trip.days]]')
                            li(style='position:relative')
                                a(href='[[baseHref]]/' + displayIndex).
                                    #[span.badge.new.date-index(style='position:absolute;top:0;left:0;') #{displayIndex} ]
                                    [[_getNavString(index)]]
                                    #[span.badge.new.poi-count(style='position:absolute;bottom:0;right:0;') #{itemLength} ]
                            
        //-             .col.s1
        //-                 .chip.btn 
        //-                     span [[_getDisplayIndex(index)]]
                        //- .row
                        //-     .col.s12 [[index]]_ср.2.03
                    //- li
                    //-     a(href='/trip/[[_getDisplayIndex(index)]]').
                    //-         #[span.bubble] 
                    //-         день [[_getDisplayIndex(index)]]: [[_getFormatedDate(index)]] #[br]
                    //-         poi: [[item.length]]



        //- div.navbar-fixed12
        //-     nav
        //-         div.nav-wrappers
        //-             ul.left
        //-                 li
        //-                     a(style='position:relative;').
        //-                         1. вт.29 
        //-                         #[span.badge.new(style='position:absolute;bottom:0;right:0;background:red;') 1]
        //-                 li.active
        //-                     a(style='position:relative;').
        //-                         1. вт.29 
        //-                         #[span.badge.new(style='position:absolute;bottom:0;right:0;') 1]
        //-                 li
        //-                     a(style='position:relative;').
        //-                         1. вт.29 
        //-                         #[span.badge.new(style='position:absolute;bottom:0;right:0;') 1]



        //- ul.pagination
        //-     li.active(style='position:relative;')
        //-         a 1. вт.29/03
        //-             span.circle(style='position:absolute;background:red;') c
        //-     li.waves-effect 
        //-         a 2. ср.30/03
        //-     li.waves-effect 
        //-         a 3. чт.31/03
        //- .divider
        //- .section
        //- ul.pagination
        //-     iron-selector(selected-class='active', selected='[[_getArrayIndex(selected)]]')
        //-         template(is='dom-repeat', items='[[trip.days]]')
        //-             li
        //-                 a(href='/trip/[[_getDisplayIndex(index)]]') s
                            //- #[span.chip] 1
                            //- день [[_getDisplayIndex(index)]]: [[_getFormatedDate(index)]] #[br]
                            //- poi: [[item.length]]

    script(src='cat-inday-stepper.js')
