link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href='../../wrappers/mdc-button/mdc-button.html')
script(src='/node_modules/@material/snackbar/dist/mdc.snackbar.min.js', defer)

dom-module#cat-snackbar
    template
        style(include='shared-styles mdc-button-styles')
            include cat-snackbar.css
        
        .mdc-snackbar(aria-live="assertive",
                    aria-atomic="true",
                    aria-hidden="true")
            .mdc-snackbar__text
            .mdc-snackbar__action-wrapper
                button.mdc-button.mdc-snackbar__action-button(type='button')
        

    script(src='cat-snackbar.js')
