//- styles
//- link(rel='import', href='../../wrappers/sortablejs.html')
//- link(rel='import', href='sortable.html')

//- components
link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)
link(rel='import', href=`${bowerDir}iron-selector/iron-selector.html`)

//- script(src='https://lukasoppermann.github.io/html5sortable/html.sortable.min.js')
//- link(rel='import', href='sortable-list.html')


dom-module#cat-poi-list
    template
        style(include='shared-styles')
            include cat-poi-list.css
        
        h5#title.show-on-medium-and-up Перечень POI выбранного дня
        div(hidden$='[[items.length]]') В этот день нет активностей. Может быть Вы желаете просто отдохнуть или проваляться на пляже?

        iron-selector#container(selected-attribute='selected')
            template#repeater(is='dom-repeat', items='[[items]]')
                //- li.test [[index]]. sortMe

                span.mdl-chip.mdl-chip--contact.mdl-chip--deletable(on-tap='_poiTapped')
                    img.mdl-chip__contact(src='[[item.icon]]')
                    span.mdl-chip__text.truncate(title='[[item.displayName]]') [[item.displayName]]
                    button.mdl-chip__action(type='button', on-tap='_removeTapped')
                        i.material-icons cancel

    script(src='cat-poi-list.js')
