@import "mdl/chip";



// добавляет прокрутку POI
#container {
    display: flex;
    overflow-x: auto;
}

// Скрываем тексты на маленьких экранах. Места и так нет. (
.show-on-medium-and-up {
    display: none;
}

span.test {
    user-select: none;
    padding: 10px;
    background: rgba(20,20,20,0.5);
    margin: 10px;
}

span.mdl-chip {
    margin-right: 10px;
    cursor: pointer;

    // Можно сказать, что хак, потому что последний элемент в DOM Dom-repeat.
    &:nth-last-child(2) {
        margin-right: inherit;
    }

    // текст в облачке будет обрезан нахрен (ss .truncate)
    & span.mdl-chip__text {
        min-width:135px;
        max-width: 230px;
        
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: "...";
    }
}

// @import "materialize/color";
// @import "materialize/variables";
// @import "materialize/chips";


 
// div.poi-container.sortable-drag   {
// background: rgba(10,10,10,0);
// }


// .sortable-chosen {
// background: red;
// opacity: .2;
// }
// .sortable-ghost {
// opacity: .2;
// }


// /* стиль для элемента, куда перетаскивание осуществиться. */
// .sortable-chosen > div.btn.chip {
// background: rgba(10,10,10,0.5);
// }

// div.poi-container{
// background: transparent;
// position:relative;
// }

// div.fab-origin {
// position:absolute;
// top: 0;
// right: 0;
// margin-top: -60px;
// margin-right: -70px;
// }
// div.poi-container {
// margin-right: 10px;
// }
// div.poi-container > div.btn.chip {
// background: rgba(10,10,10,0.5);
// margin:0px;
// min-width:135px;
// max-width: 230px;
// }
// div.poi-container > div.btn.chip:hover {
// background: var(--default-primary-color);
// color: var(--text-primary-color);

// }