//- Frameworks init
link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href=`${bowerDir}polymerfire/polymerfire.html`)
link(rel='import', href='../../shared-styles/shared-styles.html')

link(rel='import', href='../../scripts/base/index.html')
link(rel='import', href='../../scripts/data/index.html')

link(rel='import', href='../../wrappers/mdc-temporary-drawer/mdc-temporary-drawer.html')
link(rel='import', href='../../wrappers/mdc-list/mdc-list.html')
link(rel='import', href='../../wrappers/mdc-toolbar/mdc-toolbar.html')



//- link(rel='import' href='local-styles.html')

//- //- Навигация и роутинг
link(rel='import', href=`${bowerDir}app-route/app-location.html`)
link(rel='import', href=`${bowerDir}app-route/app-route.html`)
link(rel='import', href=`${bowerDir}iron-pages/iron-pages.html`)
link(rel='import', href=`${bowerDir}iron-selector/iron-selector.html`)

link(rel='import', href='../../elements/cat-menu/cat-menu.html')
link(rel='import', href='../../elements/cat-snackbar/cat-snackbar.html')

//- TODO: Все-таки добавить симпатичные табы. не забыв предварительно удалить самодельные стили!
//- По состоянию на 2017-05-18 css имеют неприятный глюк указатели активной закладки
//- она 2-3 пикселя не доезжает до верхнего элемента.
//- А js версия работает вообще хуй знает как... полоска скачет как бешенная.
//- link(rel='import', href='../../wrappers/mdc-tabs/mdc-tabs.html')


dom-module#cat-app
    template
        style(include='shared-styles mdc-toolbar-styles mdc-temporary-drawer-styles mdc-list-styles')
            include cat-app.css
            
        
        app-location(route='{{route}}', query-params='{{queryParams}}')
        app-route(route='{{route}}',
                    pattern='/:page',
                    data='{{routeData}}',
                    tail='{{subroute}}')
        

        div.cat-app-container.mdc-typography

            header.mdc-toolbar.mdc-toolbar--fixed
                .mdc-toolbar__row
                    section.mdc-toolbar__section.mdc-toolbar__section--align-start.hide-on-med-and-up
                        a.material-icons(href='#', on-click='_showDrawer') menu
                    section.mdc-toolbar__section.mdc-toolbar__section--align-start
                        span.mdc-toolbar__title.cat-title
                            a(href='/') Clip Your Trip
                            span.cat-ver: a(href='/dev') &alpha;&nbsp;v.0.8.0
                    
                    section.mdc-toolbar__section.mdc-toolbar__section--align-end
                        nav.mdc-typography--body1
                            iron-selector.cat-main-nav.mdc-tab-bar(attr-for-selected='name', 
                                    selected='{{routeData.page}}', 
                                    selectable='.mdc-tab', 
                                    selected-class='mdc-tab--active')
                                div.mdc-tab(name='trip-list', href='#') Все путешествия
                                div.mdc-tab(name='trip', href='#') Новое путешествие
                                div.mdc-tab(name='my-trips', href='#', hidden$='[[!isAuthenticated]]') Мои путешествия
                                div.mdc-tab(name='feedback', href='#') Обратная связь
                                div.mdc-tab-bar__indicator 

                    section.mdc-toolbar__section.mdc-toolbar__section--align-end.mdc-toolbar__section--shrink-to-fit
                        a.material-icons(hidden$='[[isAuthenticated]]') account_circle
                        img.avatar(src='[[user.photoURL]]', hidden$='[[!isAuthenticated]]', 
                                    title='[[user.displayName]] ([[user.email]])')
                        cat-menu#userMenu(icon='more_vert', on-cat-menu-action='_menuClicked')


            aside#catDrawer.mdc-temporary-drawer
                nav.mdc-temporary-drawer__drawer
                    header.mdc-temporary-drawer__header
                        .mdc-temporary-drawer__header-content Clip Your Trip

                    nav.mdc-temporary-drawer__content.mdc-list-group
                        .mdc-list
                            iron-selector(attr-for-selected='name', selected='{{routeData.page}}', selected-class='mdc-temporary-drawer--selected')
                                div.mdc-list-item(name='trip-list', on-click='_closeDrawer').
                                    #[i.material-icons.mdc-list-item__start-detail(aria-hidden='true') shop_two] Все путешествия
                                div.mdc-list-item(name='trip', on-click='_closeDrawer').
                                    #[i.material-icons.mdc-list-item__start-detail(aria-hidden='true') fiber_new] Новое путешествие
                                div.mdc-list-item(name='my-trips', on-click='_closeDrawer', hidden$='[[!isAuthenticated]]').
                                    #[i.material-icons.mdc-list-item__start-detail(aria-hidden='true') stars] Мои путешествия
                                div.mdc-list-item(name='feedback', on-click='_closeDrawer').
                                    #[i.material-icons.mdc-list-item__start-detail(aria-hidden='true') mail_outline] Обратная связь

                //- PAGE CONTENT
            main.page-content

                iron-pages.component-content(selected='[[viewPage]]', 
                            attr-for-selected='name', 
                            role='main', 
                            fallback-selection='404')
                    cat-main(name='main')
                    cat-trip-list(name='trip-list', trip-provider='[[tripProvider]]', page-title='Все путешествия', btn-text='копировать')
                    cat-trip-list(name='my-trips',  trip-provider='[[tripProvider]]', page-title='Мои путешествия', btn-text='редактировать', show-private-only)
                    //- cat-browse(name='browse')
                    cat-trip(name='trip', 
                                route='[[subroute]]',
                                query-params='[[queryParams]]'
                                trip-provider='[[tripProvider]]',
                                map-provider='[[mapProvider]]',
                                search-provider='[[searchProvider]]')
                    cat-feedback(name='feedback')
                    //- cat-help(name='help')
                    //- cat-about(name='about')
                    cat-dev(name='dev')
                    //- cat-my-trips(name='my-trips')
                    cat-404(name='404')

            
            //-     footer.mdl-mini-footer.mdc-typography--body1
            //-         .mdl-mini-footer__left-section 
            //-             .mdl-logo &copy; Clip Your Trip, 2017&nbsp;|&nbsp;
            //-                 a(href='/dev') &alpha;&nbsp;v.0.6.1

            //-         div.mdl-mini-footer__right-section
            //-             a(href='/') На главную
        cat-snackbar#snackbar
        
        firebase-app(auth-domain="clip-and-trip.firebaseapp.com",
                    database-url="https://clip-and-trip.firebaseio.com/",
                    api-key="AIzaSyAVP1B1G-ot9W-xu8-nHz9U5yF0AmCb9mQ")
        firebase-auth#auth(user='{{user}}', provider='google', on-error='_handleError')

    script(src='cat-app.js')
