@import 'cat-color-theme';
@import 'media';

// Логика верстки:
// 1. Растягиваем головной элемент на весь экран.
div.cat-app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width:100%;
    height:100%;
}

// 2.Переопределяем позиционирование, т.к. по-умолчанию в mdc он fixed!
header.mdc-toolbar {
    position: relative;
}
// 3. вопреки документации MDL не ставим стиль fixed-adjestment, который добавляет margin-top
// к этому элементу, чтобы он был под заголовком. Нам это не подходит, 
// т.к. такое поведение не меняет высоту элемента.
// Ставим максимальную ширину сайта, иначе на очень крупных мониторах контент растекается
main.page-content {
    align-self: center;
    max-width: 1440px;
    // padding: 0px 24px;
    width: 100%;

    // Немного поспокойнее цвет основого текста (чуть светлее черного #424242)
    color: $cat-regular-text-color; 

    // Вот это, как ни странно, оказалось крайне важным, т.к.
    // устанавливает высоту основного контента, жестко, с учетом того, что этот элемент rel, а родитель abs.
    position: relative;
    height:100%;
    overflow-x: hidden;
}

// Выраванием контент по центру в каждой секции заголовка.
section.mdc-toolbar__section {
    align-items: center;
}


cat-trip {
    height: 100%;
    display: flex;
    flex-direction: column;
}

img.avatar {  
    width: 32px;
    height: 32px;
    border-radius: 50%;
} 

/* Убираем браузерный стиль ссылок, т.к. ссылок у нас в заголовках нет - только кнопки. */
a {
    color: white;
    text-decoration: none;
}

footer.mdl-mini-footer {
    padding: 0px 16px;
    align-items: center;
    font-size: x-small;
}

// Маленький указатель версии
.cat-title {
    position: relative;
    overflow: initial;
    & .cat-ver {
        color:grey;
        position: absolute;
        top: -10px;
        font-size: x-small;
    }
}

// mobile first!
.cat-main-nav {
    display: none;

    @media #{$medium-and-up} {
        display: flex;

        .mdc-tab {
            text-align: center;
            color: rgba(255,255,255,0.7);
            cursor: hand;
            margin: 0 10px;
        }

        & .mdc-tab--active {
            color: $cat-primary-text-color;
            // font-weight: 700;
        }

    }

//   & div {
//       margin: 0 10px;  
//       text-align: center;
//     }


}