link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href=`../../scripts/search/index.html`)
link(rel='import', href=`../../scripts/utils/index.html`)

dom-module#cat-search-controller
    template
    script(src='cat-search-controller.js') 
