/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  line-height: 1;
  letter-spacing: normal; 
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}




@import "grid";
@import "media";
@import "positioning";
@import "utils";
@import "cat-color-theme";

$button-primary-color-alt: $cat-primary-color;
@import "mdl/button"; 

@import "@material/typography/mdc-typography";

.divider {
  height: 1px; 
  overflow: hidden;
  background-color: gray;
}