link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)
link(rel='import', href=`${bowerDir}polymer/lib/elements/dom-repeat.html`)

link(rel='import', href=`../../wrappers/mdl-chip/mdl-chip.html`)

dom-module#cat-trip-overview
    template
        
        style(include='shared-styles mdl-chip-styles')
            include cat-trip-overview.css
        
        
        div.mdc-typography.cat-container
            template(is='dom-repeat', items='[[trip.days]]')
                .row.mdc-typography--body1
                    .col.s1.l1 [[_getDayNum(index)]]
                    .col.s3.l1: a(href='/trip/[[_getDayNum(index)]]') [[_getDayString(trip.startDate, index)]]
                    .col.s8.l10
                        div(hidden$='[[!_isEmpty(item)]]') Свободный день
                        template(is='dom-repeat', items='[[item]]')
                            span.mdl-chip.mdl-chip--contact.mdl-chip--deletable
                                img.mdl-chip__contact(src='[[item.icon]]')
                                span.mdl-chip__text.truncate(title='[[item.displayName]]') [[item.displayName]]
                                button.mdl-chip__action(type='button', on-tap='_removeTapped')
                            //- div [[item.displayName]]

                .divider

    script(src='cat-trip-overview.js') 
