//- Frameworks init
link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)

dom-module#cat-404
    template
        style(include='shared-styles')
            //- include cat-404.css
        h1 ОШИБКА!
        div Вы куда-то не туда пришли. 
            a(href="/") Вернуться.
         

    script(src='cat-404.js')
