:host {
    display:block;
    margin: 24px;
    } 

#mainContainer{
    &.row > * {
        display: flex;
        flex-direction: column;

        & button {
            align-self: flex-end;
            margin-top:12px;
            & a {
                color: white;
                text-decoration: none;
            }
        }

        & img {
            margin-right: 12px;
            width: 150px;
            float: left;
        }
    }
}
.divider {
    margin: 24px 0px;
}