link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)

dom-module#cat-main
    template
        style(include='shared-styles')
            include cat-main.css
        
        h1.mdc-typography--display2 Главная страница

        div Приветствуем Вас в приложении Clip Your Trip для планирования Вашего индивидуального путешествия!
        
        #mainContainer.row
            div.col.s12.l4
                h2.mdc-typography--title Все путешествия
                div
                    img(src='/images/main_1.jpg')
                    div Начните планировать свое индивидуальное путешествие с уже готового путешествия, созданного нашим сообществом. Вы можите подобрать наиболее подходящее для вас путешествие и откорректировать его в соответствии со своими индивидуальными вкусами.
                button.mdl-button.mdl-button--colored.mdl-button--raised: a(href='/trip-list') Посмотреть готовые планы
                .divider.hide-on-large-only

                

            div.col.s12.l4
                h2.mdc-typography--title С чистого листа
                div
                    img(src='/images/main_2.jpg')
                    div Так же Вы можите создать свое путешествие с чистого листа, без оглядки на других участников сообщества, и составить уникальный план путешествия, на 100% соответствующий Вашим индивидуальным вкусам.
                button.mdl-button.mdl-button--colored.mdl-button--raised: a(href='/trip') Создать новый план
                .divider.hide-on-large-only

            div.col.s12.l4
                h2.mdc-typography--title Что дальше?
                div
                    img(src='/images/main_3.jpg')
                    div Весь план путешествия, включая купленные билеты, бронирования и план каждого дня хранятся в вашем личном кабинете. Вы можите распечатать план в удобной форме, отправить себе на email или оставить ориентироваться на месте прямо из приложения: все Ваши данные доступны локально без подключения к интернету.
                    div Поделитесь планом Вашего путешествием с нами. Чем популярнее Ваше путешествие, тем выше Ваш рейтинг и количество начисленных бонусных баллов, которые Вы можите тратить оплату биллетов или отелей.
                button.mdl-button.mdl-button--colored.mdl-button--raised: a(href="/register") Присоединяйтесь к нам

    script(src='cat-main.js')
