html
    head 
        meta(charset='UTF-8')
        //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)
        link(rel='import' href='../../../shared-styles/shared-styles.html')
        link(rel='import', href='../../../scripts/base/index.html')
        link(rel='import', href='../../../scripts/search/index.html')

        link(rel="import" href='../cat-suggestion-list.html')
   
    body
        

        cat-suggestion-list#el
        
        script.
            document.getElementById('el').suggestions = [
                {type: 1, displayName: "element 1"},
                {type: 1, displayName: "element 2"},
                {type: 1, displayName: "element 3"}
            ];
             
            

