link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)
link(rel='import', href='../../wrappers/mdc-button/mdc-button.html')
link(rel='import', href='../../wrappers/date-fns.html')

dom-module#cat-trip-view-list-item
    template
        
        style(include='shared-styles mdc-button-styles')
            include cat-trip-view-list-item.css
            
        .cat-card-container
            .cat-card-content
                img(src='[[data.img]]')
                div.cat-trip-desc
                    div [[data.country.displayName]]
                    h2 [[data.name]]
                    div [[data.description]]
            .row
                .col.s6 [[dayNightString]]
                .col.s6 
                    i.material-icons star
                    span (350)
            .cat-card-actions
                    a.mdc-button.mdc-button--dense(href='/trip?uid=[[data.uid]]') [[btnText]]

            //- .mdc-card__horizontal-block
            //-     section.mdc-card__media
            //-         img(src='/images/img_na.jpg') 
            //-     section.mdc-card--primary
            //-         h1.mdc-card__title.mdc-card__title--large [[data.name]]
            //-         h2.mdc-card__subtitle Краткое описание путешествия
            //-     section.mdc-card__supporting-text.
            //-         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            //-         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            //-         veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            //-         commodo consequat. 
            //-     section.mdc-card__actions
            //-         button.mdl-button скопировать



    script(src='cat-trip-view-list-item.js')  
