// 
// Copyright 2016 Google Inc. All Rights Reserved.
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//      http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

@import "@material/elevation/mixins";
@import "@material/theme/mixins";
@import "@material/typography/mixins"; 
@import "cat-color-theme";

// @import "materialize/color";
// @import "materialize/variables";
// // @import "materialize/global";
// @import "materialize/cards";

.cat-card-container {
  @include mdc-elevation(2); 
  @include mdc-typography(body1);

  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .cat-card-content img {
      width: 100px;
      height: 100px;
      margin: 12px;
      float: left;
  }

  & .row {
    text-align: center;
    margin: 12px 0;    
  }
}

.cat-trip-desc h2 {
  margin: 12px;
}

// Кнопки справа и снизу
.cat-card-actions {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}




section.mdc-card__media img {
  height: 100px;
  width: 100px;  
}

