meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
script(src='/bower_components/webcomponentsjs/webcomponents-loader.js')
link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)
link(rel='import' href='../../../shared-styles/shared-styles.html')