html
    head 
        meta(charset='UTF-8')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)
        link(rel='import' href='../../../shared-styles/shared-styles.html')

        

        link(rel='import', href=`../${bowerDir}iron-flex-layout/iron-flex-layout.html`)
        link(rel='import', href='../../../scripts/base/index.html')
        link(rel='import' href='../cat-poi-list.html')
   
    body
        

        cat-poi-list#el

        script(src=`../${bowerDir}webcomponentsjs/webcomponents-loader.js`)
        
        script.
            let data = [{"displayName":"Renault в Гомеле","uid":"ChIJ3abdU9Br1EYRLAOnRXsje38","icon":"https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png"},{"displayName":"Автозапчасти Магазин ООО Премиумбат","uid":"ChIJdcJmSe1p1EYRAg4oMOh79NU","icon":"https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png"},{"displayName":"NEMO RESTAURANT","uid":"ChIJGV3hf0ho1EYRTTg_-gP98G4","icon":"https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png"},{"displayName":"Картинная галерея Г.Х. Ващенко (выставочный зал и художественный салон)","uid":"ChIJiXZcVKxp1EYRQ_l6QpyiV54","icon":"https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png"},{"displayName":"Картинная галерея Г.Х. Ващенко (выставочный зал и художественный салон)","uid":"ChIJiXZcVKxp1EYRQ_l6QpyiV54","icon":"https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png"}];
            document.getElementById('el').items = data;

