link(rel='import', href='../../shared-styles/shared-styles.html')

link(rel='import', href=`../../elements/cat-pikaday/cat-pikaday.html`)


dom-module#cat-dev
    template
        style(include='shared-styles')
            include cat-dev.css

        
        .cat-md-container.mdc-typography--body1 
            p Здесь отображаются последние изменения, внесенные в проект. 
            p Проект находится на ранней стадии разработки и постоянно видоизменяется. Мы знаем, что проект содержит как очевидные так и не очевидные ошибки и будем бесконечно признательны, если Вы потратите немного своего времени и укажите нам на них!
            p Напишите нам на #[a(href='mailto:feedback@clipyourtrip.ru') feedback@clipyourtrip.ru].

            h3 [0.8.0] (2017-05-19)
            h4 Обновления
            ul
                li Функциональность обзора всего плана путешествия
                li Группировка скоплений poi в кластеры
            ul Исправления
                li Исправлена ошибка при которой календарь на устройствах с небольшим экраном отображался за пределами экрана и становился недоступным для взаимодействия
            
            
            h3 [0.7.2] (2017-05-18)
            h4 Обновления
            ul
                li Смягчен цвет основного текста
            h4 Исправления
            ul 
                li Исправлена ошибка со шрифтами, которая проявлялась в "прыгающем" из-за не верной подгрузки шрифтов основном меню
                li Исправлена ошибка с календарем
            
            h3 [0.7.1] (2017-05-18)
            h4 Обновления
            ul
                li Теперь приложение проверяет наличие новой версии ресурсов на сервере и уведомляет пользователя о необходимости обновления
            
            //- 
            h3 [0.7.0] (2017-05-17)
            h4 Обновления
            ul
                li Обновлены поисковые термины категорий POI
                li Обновлено меню приложения на мобильных устройствах
                li Все выбранные POI теперь отображаются на карте специальными значками, отражающими их категорию
                li При клике на POI карта центрируется
                li Добавлена возможность отключать отображение на карте результатов поиска
                li механизм кэширования элементов приложения

            h4 Исправления
            ul
                li Карта неправильно растягивалась из-за этого центр был смещен относительно видимого центра
                li Изменен режим отображения информации о POI на мобильных устройствах
                li Меню на мобильных устройствах не закрывалось при выборе пункта
                    
            h4 Прочее
            ul
                li Осуществлен частичный переход на новые компоненты, что положительно сказалось на производительности
                li Переход на релизную версию Polymer 2.0.0
                li Удален футер, т.к. не нес никакой информационной нагрузки

            h3 [0.6.1] (2017-05-11)
            h4 Исправления
            ul
                li Приложение работает только по безопасному протоколу https
                li Исправлены мелкие баги, связанные с переездом на новые сервера

            h3 [0.6.0] (2017-05-03)
            h4 Исправления
            ul                    
                li Исправлены баги и режим отображения на мобилках формы параметров путешествия
                li Убраны margin страницы приложения 
                li Исправлено специфическое поведение при работе firebase с массивами
                li Стилевые ошибки
                li Исправлена ошибка, при которой размеры карты не совпадали с реальным видимым размерам элемента, что приводило к отображению poi за пределами видимости карты
                li Исправлена ошибка, при которой меню после обновления данных могло накладывать на предыдущее a2143f9
                li Исправлен режим отображения календаря, так же компонент теперь использует mdc-элементы, вместо paper-input, что благотворно сказалось на производительности
                li добавлен слайдер на мобильных платформах
                li 
                li -provider:** отвязан от протокола 297317e

            h3 [0.5.0] (2017-04-20)

    script(src='cat-dev.js')
