html
    head 
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes')
        
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='import', href=`../${bowerDir}polymer/polymer-element.html`)

        link(rel='import' href='../../../shared-styles/shared-styles.html')

        link(rel='import', href='../../../scripts/base/index.html')
        link(rel='import' href='../cat-trip-param.html')
        
        //- link(rel='stylesheet', href='/node_modules/@material/dialog/dist/mdc.dialog.css')
   
    body


        div
            cat-trip-param#el
        
        script.
            let trip = new CatBase.Trip();
            trip.setTripDates(new Date(2012, 1, 1), new Date(2012, 1, 7));
            document.getElementById('el').trip = trip;
             
            

