link(rel='import', href=`${bowerDir}polymer/polymer-element.html`)

//- link(rel='import', href=`${bowerDir}iron-ajax/iron-ajax.html`)
//- link(rel='import', href=`../cat-rating/cat-rating.html`)

dom-module#cat-menu
    template
        style(include='shared-styles')
            include cat-menu.css

        div.container
            button#btnaction.mdl-button.mdl-js-button.mdl-button--icon
                i.material-icons [[icon]]
                            //- ul#logmenu.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='btnaction')
                            //-     li.mdl-menu__item Action 1
                            //-     li.mdl-menu__item Action 1
                            //-     li.mdl-menu__item Action 1
            

    script(src='menu.js')
    script(src='cat-menu.js')