@import '../../../bower_components/material-design-lite/src/menu/menu';

// Выравнивание меню по правому краю от иконки
div.container {
    position: relative;

    & ul.mdl-menu {
        position: absolute;
    
    }
}

