html
    head 
        include ../../_demo_header.pug

        link(rel="import" href='../../cat-trip-controller/cat-trip-controller.html')
        link(rel="import" href='../cat-trip-overview.html')
   
    body
        
        cat-trip-controller#tc
        cat-trip-overview#el
        
        script.
            let tc = document.getElementById('tc');
            let el = document.getElementById('el');
            el.trip = tc.trip;
             
            

