html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

        script(src='../../../../../bower_components/webcomponentsjs/webcomponents-loader.js')
        link(rel='import', href='../../../../../bower_components/polymer/polymer-element.html')
        link(rel='import', href='../../../../../src/shared-styles/shared-styles.html')

        link(rel='import' href=`../../../src/scripts/${scriptName}/index.html`)

        //- Внимание! Очередность подключения важна для firefox и установлена эксперементальным путем
        //- хотя, то что он должен быть подключен последним, делает наиболее вероятной теорию, что ему нужно дождаться загрузки всех import
        script(src='../../../../../bower_components/web-component-tester/browser.js')

        

        title TEST - #{scriptName}

    body
        
        script(src=`cat-${scriptName}-test.js`)
            