script(src='providers/cat-data-provider-manager.js')
script(src='providers/cat-provider-google.js')
script(src='providers/cat-provider-search.js')
script(src='providers/cat-provider-trip-storage.js')

link(rel='import', href='../search/index.html')
